.discover {
    min-height: 780px;
    width: 100%;
    .discover_items {
        min-height: 780px;
        width: 100%;
        padding-top: 80px;
        .discover_header {
            width: 100%;
            height: 91px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            .discover_titles {
                .discover_title {
                    color: #fff;
                    font-size: 38px;
                    font-weight: 600;
                }
                .discover_subtitle {
                    font-size: 22px;
                    color: #fff;
                }
            }
            .discover_btn {
                height: 60px;
                width: 187px;
                border-radius: 20px;
                background-color: rgba(0,0,0, 0);
                border: 2px solid $main-color;
                color: #fff;
                i {
                    color: $main-color;
                }
            }
        }
        .discover_content{
            display: flex;
            min-height: 469px;
            justify-content: space-between;
            margin-top: 60px;
            .discover_item {
                height: 469px;
                width: 330px;
                border-radius: 20px;
                background-color: #3b3b3b;
                .item_img {
                    height: 296px;
                    width: 330px;
                }
                .item_text {
                    height: 173px;
                    width: 100%;
                    padding: 20px 20px 0 30px;
                    .item_title {
                        font-size: 22px;
                        font-weight: 600;
                        color: #fff;
                    }
                    .item_user {
                        display: flex;
                        img {
                            margin-right: 12px;
                        }
                        .user_name {
                            color: #fff;
                        }
                    }
                    .item_info {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 27px;
                        .item_cost {
                            .cost_label {
                                font-size: 12px;
                                color: #858584;
                            }
                            .cost_value {
                                color: #fff;
                                font-family: "Space Mono", sans-serif;
                                margin-top: 8px;
                            }
                        }
                        .item_increase {
                            .increase_label {
                                color: #858584;
                                font-size: 12px;
                            }
                            .increase_value {
                                color: #fff;
                                font-family: "Space Mono", sans-serif;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        .discover_btn_small {
            display: none;
        }
    }
}