.join {
    min-height: 550px;
    width: 100%;
    .join_items {
        min-height: 550px;
        width: 100%;
        padding-top: 40px;
        .join_content {
            min-height: 430px;
            width: 100%;
            background-color: #3b3b3b;
            border-radius: 20px;
            padding: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .join_right {
                height: 272px;
                width: 425px;
                .join_title {
                    @include title-style;
                }
                .join_subtitle {
                    font-size: 22px;
                    color: #fff;
                    margin-top: 10px;
                }
                .join_form {
                    @include form-style;
                    margin-top: 40px;
                }
            }
        }
    }
}